alabaster==0.7.12
ansible==4.5.0
ansible-base==2.10.13
ansible-core==2.11.4
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
coverage==5.5
cryptography==3.4.8
distlib==0.3.2
docutils==0.17.1
execnet==1.9.0
filelock==3.0.12
flake8==3.9.2
idna==3.2
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==3.0.1
lockfile==0.12.2
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
packaging==21.0
pathspec==0.9.0
pbr==5.6.0
pexpect==4.8.0
platformdirs==2.3.0
pluggy==1.0.0
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
pytest-forked==1.3.0
pytest-mock==3.6.1
pytest-xdist==2.3.0
python-daemon==2.3.0
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
resolvelib==0.5.4
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tox==3.24.3
urllib3==1.26.6
virtualenv==20.7.2
yamllint==1.26.3
