# Mac OS X
*.DS_Store

# Editors
*.sw[poj]
*~
/.idea

/demo/artifacts
/demo/daemon.log
/docs/_build
/.tox
/dist
/build
/rpm-build
/test/coverage
/deb-build
/*.egg-info
*.py[c,o]
.pytest_cache
pytestdebug.log
.coverage
*,cover
.venv
/venv
.env
/.eggs/
docs/build
AUTHORS
ChangeLog
