[MESSAGES CONTROL]

disable =
    # On purpose:
    line-too-long,
    # FIXME: Temporary skips added during initial enablement of pylint
    arguments-differ,
    arguments-renamed,
    attribute-defined-outside-init,
    broad-except,
    consider-iterating-dictionary,
    consider-merging-isinstance,
    consider-using-f-string,
    consider-using-min-builtin,
    consider-using-set-comprehension,
    consider-using-ternary,
    consider-using-with,
    cyclic-import,
    deprecated-class,
    duplicate-code,
    duplicate-string-formatting-argument,
    expression-not-assigned,
    fixme,
    global-statement,
    global-variable-not-assigned,
    implicit-str-concat,
    import-outside-toplevel,
    inconsistent-return-statements,
    invalid-envvar-default,
    invalid-name,
    keyword-arg-before-vararg,
    logging-format-interpolation,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-continue,
    no-else-raise,
    no-else-return,
    pointless-statement,
    pointless-string-statement,
    protected-access,
    raise-missing-from,
    redefined-argument-from-local,
    redefined-builtin,
    redefined-outer-name,
    redundant-u-string-prefix,
    subprocess-run-check,
    super-with-arguments,
    superfluous-parens,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    ungrouped-imports,
    unnecessary-comprehension,
    unnecessary-lambda,
    unspecified-encoding,
    unused-argument,
    unused-variable,
    unused-wildcard-import,
    use-a-generator,
    use-dict-literal,
    use-implicit-booleaness-not-comparison,
    use-implicit-booleaness-not-len,
    useless-else-on-loop,
    useless-object-inheritance,
    wildcard-import,
    wrong-import-order,
    wrong-import-position,
