[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[dev-packages]
more-itertools = "==5.0.0"
pytest = "==4.4.0"
"flake8" = "*"
yamllint = "*"
funcsigs = "*"
mock = "*"
pathlib2 = "*"
scandir = "*"

[packages]
psutil = "*"
pexpect = "==4.6"
python-daemon = "*"
pyyaml = "*"
six = "*"
