[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
funcsigs = "*"
mock = "*"
pathlib2 = "*"
scandir = "*"

[packages]
psutil = "*"
pexpect = ">=4.5"
python-daemon = "*"
pyyaml = "*"
six = "*"
