#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ansible-runner
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python2 --buildsystem=pybuild
